<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="col-4 my-3 offset-1 bg-light text-center">配送先編集</h5>
      <table class="table table-borderless">
        <tbody>
          <%= form_with model: @shipping, url: shipping_path(@shipping.id), method: :patch do |f| %>
            <tr>
              <td class="col-4">郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :post_code %></td>
            </tr>
            <tr>
              <td class="col-4">住所</td>
              <td colspan="2"><%= f.text_field :address, size: 50 %></td>
            </tr>
            <tr>
              <td class="col-4">宛名</td>
              <td><%= f.text_field :name %></td>
              <td><%= f.submit "変更内容を保存", class:"btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

