<div class="container">
  <div class="row">
    <table class="table col-3">
      <thead>
        <tr><th>ジャンル検索</th></tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr><td>
            <%= link_to genre.name %>
          </td></tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-9">
      <p class="border border-dark">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
      <h2>新着商品</h2>
      <table>
        <% @products.each do |product| %>
        <tr>
  	      <td>
  	        <%= link_to product_path(product) do %>
              <%= image_tag product.image %>
            <% end %>
          </tb></br>
          <tb><%= product.name %></tb></br>
          <tb>¥<%= product.no_tax_price %></tb>
        </tr>
        <% end %>
      </table>
      <%= link_to "全ての商品を見る >", products_path, class: "text-end" %>
    </div>
  </div>
</div>