<div class="container">
  <div class="row">
    <div class="col">
      <h5>商品編集</h5>

      <% if @product.errors.any? %>
        <%= @product.errors.count %> error prohibited this obj from being saved:
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: [:admin, @product], local: true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :image, "商品画像" %>
                </td>
                <td>
                  <%= f.file_field :image, class: "form-control-file user_image", accept: 'image/*' %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :name,"商品名" %>
                </td>
                <td>
                  <%= f.text_field:name %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :introduction, "商品説明" %>
                </td>
                <td>
                  <%= f.text_area:introduction %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :genre_id,"商品ジャンル" %>
                </td>
                <td>
                  <%= f.collection_select(:genre_id, @genres, :id, :name, prompt:"--選択してください--"  ) %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :no_tax_price,"税抜き価格" %>
                </td>
                <td>
                  <%= f.text_field:no_tax_price %>円
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <%= f.label :is_sale_status,"販売ステータス"%>
                </td>
                <td>
                  <%= f.radio_button :is_sale_status ,"false" %>販売中 <%= f.radio_button :is_sale_status ,"true" %>販売停止中
                </td>
              </div>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "変更を保存", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>