<h2>商品一覧</h2>
<%= link_to "商品追加", new_admin_product_path %>

<% @products.each do |product| %>
  <%= product.id %>
  <%= link_to  admin_product_path(product) do %>
    <%= product.name %>
  <% end %>
  <%= product.no_tax_price %>
  <%= product.product_genre_id %>
  <% if product.is_sale_status == false %>
    販売中
  <% else %>
    販売停止中
  <% end %>
<% end %>