

<h2>商品詳細</h2>

<%= image_tag @product.image %>

<p>商品名</p>
<%= @product.name %>

<p>商品説明</p>
<%= @product.introduction %>

<p>ジャンル</p>
<%= @product.product_genre_id %>

<p>税込価格</p><%= @product.with_tax_price %>
<p>(税抜き価格)</p><%= @product.no_tax_price %>

<p>販売ステータス</p>
<% if @product.is_sale_status == false %>
  販売中
<% else %>
  販売停止中
<% end %>

<%= link_to "編集する", edit_admin_product_path(@product),class:'btn btn-success' %>
