<% @cart_items.each do |cart_item| %>
  <%= cart_item.product.name %>
  <%= (cart_item.product.with_tax_price).to_s(:delimited) %>
  <%= cart_item.quantity %>
  <%= (cart_item.product.with_tax_price*cart_item.quantity).to_s(:delimited) %>
<% end %>
<p>ご請求金額</p>
<%= @total.to_s(:delimited) %>
<p>お届け先</p>
<%= @order.post_code %>
<%= @order.address %>
<%= @order.name %>


<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>